 <!-- <form class="form-inline my-2 my-lg-0"> -->
    <div class="container">
        <div class="row">
                <div class="form-inline my-2 my-lg-0"> <input class="form-control mr-sm-2" type="text" placeholder="Ingrese un texto" aria-label="Buscar" (keyup.enter)="enviarTexto(texto.value)" #texto>
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="enviarTexto(texto.value)">Enviar</button>
                  </div>
        </div>
   
     <!-- </form> -->

     

    
        <div class="row caja-text-child">
            <div class="col-4 offset-4  text-center text-24 text-child">
               <app-child-one-component [texto]="textoEnviar"></app-child-one-component>
            </div>
        </div>        
      </div>
