<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <span class="text-24-subtitle"> Permite solo números del 1 al 100</span>
        </div>
    </div>
    <div class="row">
        <div class="form-inline my-2 my-lg-0"> <input class="form-control mr-sm-2" type="text"
                placeholder="Ingrese un número" aria-label="Buscar" (keyup.enter)="listResult(texto.value)" #texto>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button"
                (click)="listResult(texto.value)">Buscar</button>
        </div>
    </div>
    <div class="row caja-text-child">
        <div class="col-4 offset-4  text-center text-24 text-child" *ngIf="dataLoad == 1">
            <img src="./assets/img/cargando.gif" height="150">
        </div>

        <div class="col-12  text-left  text-child" *ngIf="dataLoad == 2">
            <div *ngIf="result">
                <div class="row">
                    <div class="col-12">
                        <span class="text-24">Id : </span> <span class="text-18-gris">{{result.id}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span class="text-24">Titulo : </span> <span class="text-18-gris">{{result.title}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span class="text-24">Texto : </span> <span class="text-18-gris">{{result.body}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 offset-4  text-center text-24 text-child" *ngIf="dataLoad == 3">
            <div>
                <span>Dato inválido</span>
            </div>
        </div>
    </div>
</div>