 <!-- Sidebar -->
 <div class="bg-sidebar border-right toggled" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">Hola : Luis </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-sidebar text-white" [routerLink]="['/one']" routerLinkActive="active"><i class="fa fa-tasks fa-lg"></i>&nbsp;&nbsp;Primer componente</a>
      <a class="list-group-item list-group-item-action bg-sidebar text-white" [routerLink]="['/two']" routerLinkActive="active"> <i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;Segundo componente</a>
      <a class="list-group-item list-group-item-action bg-sidebar text-white" [routerLink]="['/three']" routerLinkActive="active"> <i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;Tercer componente</a>

      
    </div>
  </div>
  <!-- /#sidebar-wrapper -->